<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static', filename='src/output.css')}}">
  <title>{% block title %}Tronwell{% endblock %}</title>
</head>

<body class="flex flex-col min-h-screen">
  <!-- Navbar -->
  <nav class="bg-blue-500">
    <div class="">
      {% if current_user.is_authenticated %}
      <img src="../static/imagenes/react.svg" alt="Avatar" class="avatar" />
      <span class="">{{ current_user.nombre_usuario }}</span>
      <span class="">Modulo de generacion de cursos con IA</span>
      {% if current_user.tipo_usuario == 'admin' %}
      <!-- Menú desplegable para administradores -->
      <div class="dropdown ml-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Opciones de Administrador
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{{ url_for('admin_dashboard') }}">Panel de Administrador</a>
          <a class="dropdown-item" href="{{ url_for('profesor_dashboard') }}">Vista Profesor</a>
          <a class="dropdown-item" href="{{ url_for('alumno_dashboard') }}">Vista Alumno</a>
          <!-- Agrega más opciones de menú según sea necesario -->
        </div>
      </div>
      {% endif %} {% endif %}
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}

        <a class="btn btn-primary nav-link border border-white text-white px-4 py-2 rounded nav-link"
          href="{{ url_for('logout') }}">Cerrar Sesión</a>
        {% else %}
        <a class="btn btn-primary nav-link border border-white text-white px-4 py-2 rounded nav-link"
          href="{{ url_for('inicio_sesion') }}">Iniciar Sesión</a>
        <a class="btn btn-primary nav-link border border-white text-white px-4 py-2 rounded nav-link"
          href="{{ url_for('registro') }}">Registrarse</a>
        {% endif %}
        <!-- Add more links as needed -->
      </ul>
    </div>
    <br />
    <img src="{{ url_for('static', filename='imagenes/logo_tronwell.png') }}" alt="Logo" />
  </nav>

  <br />
  <br />

  <!-- Main content -->

  {% block content %} {% endblock %}

  <!-- Footer -->
  <footer class="bg-blue-600 py-4">
    <div class="container mx-auto text-center text-white">
      <p class="parrafo">tronwell.com &copy; 2024</p>
    </div>
  </footer>

</body>

</html>